.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;

  ion-icon {
    font-size: 100px;
    color: var(--ion-color-medium);
    margin-bottom: 16px;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 18px;
    margin: 8px 0;
  }

  .subtitle {
    font-size: 14px;
  }
}

ion-chip {
  ion-label {
    color: white;
  }
}

// Estilos globales para los alerts personalizados
:host ::ng-deep {
  .color-picker-alert,
  .icon-picker-alert {
    .alert-radio-label {
      white-space: normal !important;

      sc-ion-label-ios, sc-ion-label-md {
        white-space: normal !important;
      }
    }

    .alert-radio-group {
      max-height: 400px;
      overflow-y: auto;
    }
  }
}
